{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <style>
        .header {
            background-color: #b30202;
            padding: 25px;
            text-align: center;
            font-family: sans-serif;
        }

        .bold_font {
            font-family: sans-serif;
            color: black;
            font-size: 16px
        }

        .bold_font1 {
            font-size: 40px;
            background-color: #b30202;
            text-align: center;
            color: white;
            display: flex;
            align-content: center;
            justify-content: center;
            margin: -20px;
            font-family: sans-serif;
        }

        .simple_font {
            font-family: sans-serif;
            color: black;
            font-size: 14.5px;
        }

        .dash_box {
            border: 2.5px dashed black;
            border-radius: 5px;
            border-collapse: collapse;
            padding: 5px;
            text-align: justify;
        }
    </style>
</head>
<body>
    <h3 class="header bold_font1" style="font-size: 30px;">WellBee HealthCare | Terms & Conditions</h3>
    <br>
    <br>
    <center><p class="simple_font"><strong><i>"WELLBEE HEALTHCARE SOLUTIONS VALUES THE PRIVACY OF EACH CUSTOMER"</i></strong></p></center>
    <center><p class="simple_font">At WellBee, transparency, non-disclosure, careful in protecting our customer's personal information are the key elements of our privacy policy.</p></center>

    <p class="bold_font" style="font-weight: bold;">COLLECTION OF DATA:</p>
    <div class="simple_font dash_box">
        <p>1. Customer Registration</p>
        <ul>
            <li>
                During registration, each customer provides specific data including a log in ID (which will be a person's mobile no), a password, and an email address.
                These details will be stored in our database to identify the customer during their next visit.
                For online payments, a customer may also provide gpay/phonepay/paytm no or can pay via credit/debit cards.
            </li>
            <li>
                Only after completing the Registration Process and payment, the users become Customers and become entitled to avail the Services.
            </li>
            <li>
                The Company may in its sole discretion, close the Account, if any information provided is found to be
                false or the information provided is not sufficient.
            </li>
            <li>
                The Services are non-transferable i.e. only the person on whose name the
                E-Health Package is assigned at the time of booking will be eligible to avail the Services at the lab or through home collection.
            </li>
            <li>
                In case a booking is made before 4 pm on a business day, the Company shall endeavour to give a confirmation call to the Customer on the same day and if it is received after 4 pm,
                the Company shall endeavour to give a confirmation call to the Customer the next business day.
            </li>
            <li>
                You are advised on call at the time of booking confirmation about the dos and don'ts before taking the various tests laid down in the E-Health Packages.
            </li>
        </ul>
    </div>


    <p class="bold_font" style="font-weight: bold;">DATA USAGE:</p>
    <div class="simple_font dash_box">
        <p>1.  Updates</p>
        <ul>
            <li>
                We may call, send informative messages and email updates to a customer on their contact number/email accounts for our services. This may happen multiple times to facilitate the delivery of service and even after the service is delivered. We may also send promotional messages for new or existing diagnostic offers to our customers.
                Customers can choose to opt out of promotional messages by letting us know.
            </li>
        </ul>
        <p>2. Law Enforcement</p>
        <ul>
            <li>
                We WellBee may disclose data if required by the law (e.g. by a subpoena or any other judicial or administrative order) to prevent violation of the agreement,
                to protect the safety of any individual, as well as the rights of WellBee Solutions or any third party.
            </li>
        </ul>
    </div>



    <p class="bold_font" style="font-weight: bold;">REFUND & CANCELLATION POLICY:</p>
    <div class="simple_font dash_box">
        <ul>
            <li>
                WellBee provides all rights to a client to cancel the order any time before the phlebo assigned with a full refund initiated. A service request will not be deemed cancelled
                once the phlebo is assigned and in emergency cancellation just before phlebo visit, only the technician amount will be deducted and rest all will be refunded.
            </li>
            <li>
                In case of delay in services from the service provider, customer can ask for full refund.
            </li>
            <li>
                In case a client is not happy with our services (before sending the sample to the lab), they can inform the same by calling or sending an email to our customer support address
                provided at our website with "order ID" mentioned in the subject line. In such cases, sample will not be processed and refund will be initiated by deducting phlebo visit charge.
            </li>
            <li>
                Any issues related to reports raised after 48 hours of reports publication will not be entertained since the samples collected will not be viable and required fresh sample. This would be treated as new order and
                would be chargeable at normal rates.Refunds would be processed within 5-7 business days of a cancellation.All customers will agree to our terms and conditions before making a service request.
            </li>
        </ul>

    </div>

    <p class="bold_font" style="font-weight: bold;">OTHERS:</p>
    <div class="simple_font dash_box">
        <p>1. Prices/Terms and Conditions of Payment</p>
        <ul>
            <li>
                The charges mentioned for any diagnostic services specified on the website does not include the any additional charges and the customer shall pay the full price which is mentioned for particular package.
                In case of payment defaults or online transaction denied, There will be automatically cancel the service request, with a notification sent to the customer.
            </li>
            <li>
                We reserve the right to increase the price by a reasonable amount and to deviate to a reasonable extent from the agreed quantity.
                Such change may be notified to the User/Customer by publishing the same on the Website.
            </li>
        </ul>
        <p>2. Delivery Dates</p>
        <ul>
            <li>
                WellBee will strive to adhere to the stipulated delivery time by the service provider. Our contractual obligations are subject to the concerned labs delivering the correct report to us on time. However, these dates may not be binding,
                unless agreed otherwise, as the service provider may get delayed due to the hazards and peculiar features of lab testing, machine breakdown issue or double verification process.
            </li>
            <li>
                We do not deliver reports on Sundays and public holidays in india.
            </li>
        </ul>
        <p>3. Passing of Risk</p>
        <ul>
            <li>
                The lab providing the services will bear all risk of accidental loss, destruction or deterioration.
            </li>
        </ul>
        <p>4. Errors in Report</p>
        <ul>
            <li>
                Any errors in the report, in-spite of great supervision , should be reported immediately on our website or helpline numbers with the service ID, no later than 3 days after receipt of the report, and hidden errors must be notified
                without delay after their discovery, otherwise the reports shall be accepted and no follow ups or services will be provided.
            </li>
            <li>
                The test reports will be displayed on the Website within the prescribed period and You may track the same by entering your Order ID.
            </li>
        </ul>

    </div>

    <p class="bold_font" style="font-weight: bold;">Suggestions:</p>
    <div class="simple_font dash_box">
        <ul>
            <li>
                Values out of reference range requires reconfirmation before starting any medical
                treatments.
            </li>
            <li>If you have any grievances, call us at <a href="tel:#">+918097720779</a> or send mail to <a href="mailto:wellbeehealthcare@gmail.com">wellbeehealthcare@gmail.com</a></li>
        </ul>
    </div>
</body>









</html>