{% load static %} 
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Book Blood Test, Health Checkup packages at home online : WellBee HealthCare</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/whystyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/owlcarousel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/fontawesomemin.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/whybootstrap.css' %}">

        
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
<body>
    <section class="benifits">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Benefits of regular health check ups</h1>
                </div>
                <div class="col-md-12">

                    <div class="row d-flex">

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="{% static 'main/images/awareness.png' %}" alt="Awareness" title="Awareness" class="img-responsive" />
                            <p>Reduce your risk of getting sick</p>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="{% static 'main/images/R_Y_R_gettingrisk.png' %}" alt="Reduce your risk of getting sick" title="Reduce your risk of getting sick" class="img-responsive" />
                            <p>Increase chances for treatment and cure</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="{% static 'main/images/less_stress.png' %}" alt="Less Stress" title="Less Stress" class="img-responsive" />
                            <p>Less Stress</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="{% static 'main/images/awareness-new.png' %}" alt="Awareness" title="Awareness" class="img-responsive" />
                            <p>Awareness</p>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <img src="{% static 'main/images/L_H_Carecost.png' %}" alt="Lower Health Care Cost" title="Lower Health Care Cost" class="img-responsive" />

                            <p>Lower Health Care Cost</p>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </section>




    <section class="whyWellBee HealthCare">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Why WellBee HealthCare ?</h1>
                </div>
                <div class="col-md-6 whyp">
                    <h2><img src="{% static 'main/images/bullet.png' %}" alt="arrow" title="arrow" class="bullet" />For Safe & Hygiene Sample</h2>
                    <p>Collection With One Time Use "Accurate Report"</p>
                    <img src="{% static 'main/images/WP_01.png' %}" alt="For Safe & Hygiene Sample" title="For Safe & Hygiene Sample" class="img-responsive" />
                </div>

                <div class="col-md-6 whyp">
                    <h2><img src="{% static 'main/images/bullet.png' %}" alt="arrow" title="arrow" class="bullet" />Latest Technology</h2>
                    <p>Most Advanced Pathology Labs with protocols as per ISO, NABL & CAP Guidelines</p>
                    <img src="{% static 'main/images/WP_03.png' %}" alt="Latest Technology" title="Latest Technology" class="img-responsive" />
                </div>
                <div class="col-md-6 whyp">
                    <h2><img src="{% static 'main/images/bullet.png' %}" alt="arrow" title="arrow" class="bullet" />Wide Network in India</h2>
                    <p>Accessible Network of Labs accross all cities & towns</p>
                    <img src="{% static 'main/images/WP_04.png' %}" alt="Wide Network in India" title="Wide Network in India" class="img-responsive" />
                </div>
                <div class="col-md-6 whyp">
                    <h2><img src="{% static 'main/images/bullet.png' %}" alt="arrow" title="arrow" class="bullet" />For Painless Experience</h2>
                    <p>By our Highly Experienced Sample Collection Expert (DMLT)</p>
                    <img src="{% static 'main/images/WP_02.png' %}" alt="For Painless Experience" title="For Painless Experience" class="img-responsive" />
                </div>
            </div>
        </div>
    </section>


    <section class="offerings">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12">
                    <h1>Benefits with Us</h1>
                </div>

                <div class="owl-carousel owl-theme benifits-slide">

                    <div class="item">
                        <img src="{% static 'main/images/Sam_coll.png' %}" alt="Free Sample Collection" title="Free Sample Collection" class="img-responsive" />
                        <h2>Free Sample Collection</h2>
                    </div>
                    <div class="item">
                        <img src="{% static 'main/images/reports_24.png' %}" alt="Same Day Reports & Online Report within 24 hour's" title="Same Day Reports & Online Report within 24 hour's" class="img-responsive" />
                        <h2>Online Report within 24 hour's</h2>
                    </div>
                    <div class="item">
                        <img src="{% static 'main/images/NABL.png' %}" alt="Lab Protocol as per ISO, NABL & CAP guideline" title="Lab Protocol as per ISO, NABL & CAP guideline" class="img-responsive" />
                        <h2> NABL & CAP guideline</h2>
                    </div>

                    <div class="item">
                        <img src="{% static 'main/images/Sam_coll-care.png' %}" alt="Free Sample Collection" title="Free Sample Collection" class="img-responsive" />
                        <h2>24*7 Hours Care</h2>
                    </div>
                    <div class="item">
                        <img src="{% static 'main/images/Experienced.png' %}" alt="Same Day Reports & Online Report within 24 hour's" title="Same Day Reports & Online Report within 24 hour's" class="img-responsive" />
                        <h2>Experienced Phlebotomists</h2>
                    </div>
                    <div class="item">
                        <img src="{% static 'main/images/Lab.png' %}" alt="Lab Protocol as per ISO, NABL & CAP guideline" title="Lab Protocol as per ISO, NABL & CAP guideline" class="img-responsive" />
                        <h2>High Quality Equipments</h2>
                    </div>



                </div>
            </div>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'main/js/jquerywhy.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  
    <script>


        function checkdisplaytype() {
            var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            if (isMobile) {
                window.open('tel:+919811401180');
            } else {
                alert("Call Us @ +91-98-11-40-11-80");
            }
        }
    </script>


 
    <script src="{% static 'main/js/owlwhy.js' %}"></script>

    <script>


        $('.benifits-slide').owlCarousel({
            loop: true,
            margin: 45,
            autoplay: true,
            autoplayTimeout: 3000,
            smartSpeed: 800,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
            }
        })
    </script>

</body>
</html>